
body {
    background-color: black;
    
}
h1 {
    color:darkgrey;
    text-align: center; 
    
}
      
p {
    
    color: yellow; 
    font-family: verdana;
    font-size: 20px;
    text-align: center;
  
}


     
