<form action="/" method="post">
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" name="email">
  </div>
  <div class="mb-3">
    <label class="form-label">Senha</label>
    <input type="text" class="form-control" name="pass">
  </div>
  <button type="submit" class="btn btn-primary">Submeter</button>
</form>